.services {
    background-color: var(--tint_1);
}

.services__header {
    color: white;
}

.services__cards-container {
    display: flex;
    gap: 1em;
}

.service__card {
    background-color: white;
    color: var(--primary);
    padding: 1em 0.5em;
    border-radius: 6px;
    display: flex;
    gap: 1em;
}

.service__button {
    font-family: var(--font-main);
    background-color: var(--silver);
    color: var(--primary);
    padding: 0.8em;
    border: none;
    border-radius: 6px;
}