.hero {
    font-family: var(--font-main);
    background-color: var(--silver);
    padding: 2em 4em;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__title, 
.hero-text-emphasis {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 105%;
}

.hero__title {
    color: var(--dark_grey);
}

.hero__text-emphasis {
    color:var(--primary);
}

.hero__text {
    color: var(--grey);
    font-size: 1rem;
    line-height: 105%;
    margin: 1.3rem 0;
}

.hero__button {
    font-family: var(--font-main);
    font-size: 0.9rem;
    background-color: var(--primary);
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    border: none;
}

.hero__button:hover {
    background-color: var(--tint_1);
    cursor: pointer;
}

.hero__figure {
    max-width: 60vw;
    margin: 1.5rem auto;
    display: block;
}


@media screen and (min-width: 980px) {
    .hero {
        flex-wrap: nowrap;
        padding: 5em 7em;
        gap: 4em;
    }

    .hero__text-container {
        width: 50%;
    }

    .hero__figure {
        max-width: 35vw;
    }
}