.header {
    box-shadow: 0px -2px 5px 3px  #6e6e6e4f;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    z-index: 2;
}

.logo {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1rem;
}

.logoImage {
    height: 2rem;
}

.logoName {
    color: #9600ff;
    font-weight: 600;
    font-family: var(--font-main);
    
}

.icon {
    height: 1.5rem;
}

.burguer-menu:checked .nav {
    display: block
}